.border-hover {
    border: 3px solid transparent;
    transition:  300ms ease;
}

.border-hover:hover {
    border: 3px solid rgb(15, 92, 224);
    transition: ease-in-out 500ms;
}

.delete-icon {
    visibility: hidden;
    cursor: pointer;
    top: 8px;
    right: 8px;
}

.border-hover:hover .delete-icon {
    visibility: visible;
}

.details-link {
    cursor: pointer;
}
