.header {
    height: 600px;
}

.more-details:hover {
    text-decoration: underline;
}

.vehicle-icon {
    height: 40px;
}

input[type="checkbox"] {
    width: 20px;
}

.bottom-links:hover {
    text-decoration: underline !important;
    text-decoration-thickness: 1px !important;
}

input[type=date]:focus, input[type=time]:focus, input[type=text]:focus {
    outline: 2px solid rgb(13, 110, 253);
}

.left:focus {
    z-index: 2 !important;
}

.date-container {
    top: 10%;
    left: 25%;
}

.location:hover {
    background-color:rgb(13, 110, 253);
}